In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

FBI10_path = 'Resources\FBI_2010_illinois_amended.csv'
FBI11_path = 'Resources\FBI_2011_illinois_amended.csv'
FBI12_path = 'Resources\FBI_2012_illinois_amended.csv'
FBI13_path = 'Resources\FBI_2013_illinois_amended.csv'
FBI14_path = 'Resources\FBI_2014_illinois_amended.csv'
FBI15_path = 'Resources\FBI_2015_illinois_amended.csv'
FBI16_path = 'Resources\FBI_2016_illinois_amended.csv'
FBI17_path = 'Resources\FBI_2017_illinois_amended.csv'
FBI18_path = 'Resources\FBI_2018_illinois_amended.csv'
FBI19_path = 'Resources\FBI_2019_illinois_amended.csv'

In [10]:
# these are the dataframes with all NaN values in tact. Please don't amend them. 

crime10_base = pd.read_csv(FBI10_path, delimiter=',')
crime11_base = pd.read_csv(FBI11_path, delimiter=',')
crime12_base = pd.read_csv(FBI12_path, delimiter=',')
crime13_base = pd.read_csv(FBI13_path, delimiter=',')
crime14_base = pd.read_csv(FBI14_path, delimiter=',')
crime15_base = pd.read_csv(FBI15_path, delimiter=',')
crime16_base = pd.read_csv(FBI16_path, delimiter=',')
crime17_base = pd.read_csv(FBI17_path, delimiter=',')
crime18_base = pd.read_csv(FBI18_path, delimiter=',')
crime19_base = pd.read_csv(FBI19_path, delimiter=',')

crime10_stats = crime10_base.fillna(0)
crime11_stats = crime11_base.fillna(0)
crime12_stats = crime12_base.fillna(0)
crime13_stats = crime13_base.fillna(0)
crime14_stats = crime14_base.fillna(0)
crime15_stats = crime15_base.fillna(0)
crime16_stats = crime16_base.fillna(0)
crime17_stats = crime17_base.fillna(0)
crime18_stats = crime18_base.fillna(0)
crime19_stats = crime19_base.fillna(0)

crime10_stats['Year'] = 2010
crime11_stats['Year'] = 2011
crime12_stats['Year'] = 2012
crime13_stats['Year'] = 2013
crime14_stats['Year'] = 2014
crime15_stats['Year'] = 2015
crime16_stats['Year'] = 2016
crime17_stats['Year'] = 2017
crime18_stats['Year'] = 2018
crime19_stats['Year'] = 2019

crime10_complete = crime10_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime11_complete = crime11_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime12_complete = crime12_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime13_complete = crime13_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime14_complete = crime14_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime15_complete = crime15_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime16_complete = crime16_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime17_complete = crime17_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime18_complete = crime18_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]
crime19_complete = crime19_stats[['City', 'Year', 'Population', 'Violent crime',
       'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',
       'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-theft',
       'Motor vehicle theft', 'Arson']]

crime_stats_df = pd.concat([crime10_complete, 
                            crime11_complete, 
                            crime12_complete, 
                            crime13_complete, 
                            crime14_complete, 
                            crime15_complete, 
                            crime16_complete, 
                            crime17_complete, 
                            crime18_complete, 
                            crime19_complete], ignore_index=True, axis=0)
#crime_stats_df

crime_stats_df['Population'] = crime_stats_df['Population'].str.replace(',','')
crime_stats_df['Violent crime'] = crime_stats_df['Violent crime'].str.replace(',','')
crime_stats_df['Rape'] = crime_stats_df['Rape'].str.replace(',','')
crime_stats_df['Robbery'] = crime_stats_df['Robbery'].str.replace(',','')
crime_stats_df['Aggravated Assault'] = crime_stats_df['Aggravated Assault'].str.replace(',','')
crime_stats_df['Property Crime'] = crime_stats_df['Property Crime'].str.replace(',','')
crime_stats_df['Burglary'] = crime_stats_df['Burglary'].str.replace(',','')
crime_stats_df['Larceny-theft'] = crime_stats_df['Larceny-theft'].str.replace(',','')
crime_stats_df['Motor vehicle theft'] = crime_stats_df['Motor vehicle theft'].str.replace(',','')


crime_stats_df['Population'] = crime_stats_df['Population'].astype('float64')
crime_stats_df['Violent crime'] = crime_stats_df['Violent crime'].astype('float64')
crime_stats_df['Rape'] = crime_stats_df['Rape'].astype('float64')
crime_stats_df['Robbery'] = crime_stats_df['Robbery'].astype('float64')
crime_stats_df['Aggravated Assault'] = crime_stats_df['Aggravated Assault'].astype('float64')
crime_stats_df['Property Crime'] = crime_stats_df['Property Crime'].astype('float64')
crime_stats_df['Burglary'] = crime_stats_df['Burglary'].astype('float64')
crime_stats_df['Larceny-theft'] = crime_stats_df['Larceny-theft'].astype('float64')
crime_stats_df['Motor vehicle theft'] = crime_stats_df['Motor vehicle theft'].astype('float64')

,City,Year,Population,Violent crime,Murder and Non-Negligent Manslaughter,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Addison,2010,"36,581",67,0.0,16.0,17,34,827,109,662,56,12.0
1,Albany,2010,917,0,0.0,0.0,0,0,24,14,9,1,0.0
2,Aledo,2010,"3,466",11,0.0,0.0,0,11,91,23,63,5,0.0
3,Algonquin,2010,"30,848",79,0.0,2.0,2,75,529,50,476,3,2.0
4,Alton,2010,"28,841",174,4.0,16.0,27,127,"1,265",292,913,60,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4936,Woodstock,2019,"25,324",18,0.0,7,2,9,285,19,254,12,1.0
4937,Worth,2019,"10,534",31,0.0,14,6,11,70,30,32,8,1.0
4938,Yates City,2019,653,0,0.0,0,0,0,4,0,4,0,0.0
4939,Yorkville,2019,"20,541",28,0.0,16,5,7,142,13,124,5,0.0
4940,Zion,2019,"23,617",130,2.0,32,25,71,640,96,461,83,8.0

In [9]:
crime_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4941 entries, 0 to 4940
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   City                                   4941 non-null   object
 1   Year                                   4941 non-null   int64
 2   Population                             4926 non-null   float64
 3   Violent crime                          4919 non-null   float64
 4   Murder and Non-Negligent Manslaughter  4941 non-null   float64
 5   Rape                                   3126 non-null   float64
 6   Robbery                                4926 non-null   float64
 7   Aggravated Assault                     4923 non-null   float64
 8   Property Crime                         4915 non-null   float64
 9   Burglary                               4923 non-null   float64
 10  Larceny-theft                          4919 non-null   float64
 11  Motor vehicle theft                    4923 non-null   float64
 12  Arson                                  4941 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 501.9+ KB

In [22]:
crime_total = crime_stats_df.groupby(['City', 'Year']).sum()
crime_total.head(10)

              Population  Violent crime  \
City    Year
0       2010         0.0            0.0
        2011         0.0            0.0
        2012         0.0            0.0
        2013         0.0            0.0
        2014         0.0            0.0
        2016         0.0            0.0
        2017         0.0            0.0
Addison 2010     36581.0           67.0
        2011     37053.0           53.0
        2012     37215.0           74.0

              Murder and Non-Negligent Manslaughter  Rape  Robbery  \
City    Year
0       2010                                    0.0   0.0      0.0
        2011                                    0.0   0.0      0.0
        2012                                    0.0   0.0      0.0
        2013                                    0.0   0.0      0.0
        2014                                    0.0   0.0      0.0
        2016                                    0.0   0.0      0.0
        2017                                    0.0   0.0      0.0
Addison 2010                                    0.0   0.0     17.0
        2011                                    0.0   0.0     16.0
        2012                                    0.0   0.0     18.0

              Aggravated Assault  Property Crime  Burglary  Larceny-theft  \
City    Year
0       2010                 0.0             0.0       0.0            0.0
        2011                 0.0             0.0       0.0            0.0
        2012                 0.0             0.0       0.0            0.0
        2013                 0.0             0.0       0.0            0.0
        2014                 0.0             0.0       0.0            0.0
        2016                 0.0             0.0       0.0            0.0
        2017                 0.0             0.0       0.0            0.0
Addison 2010                34.0           827.0     109.0          662.0
        2011                26.0           748.0     150.0          563.0
        2012                42.0           722.0     117.0          574.0

              Motor vehicle theft  Arson
City    Year
0       2010                  0.0    0.0
        2011                  0.0    0.0
        2012                  0.0    0.0
        2013                  0.0    0.0
        2014                  0.0    0.0
        2016                  0.0    0.0
        2017                  0.0    0.0
Addison 2010                 56.0   12.0
        2011                 35.0   13.0
        2012                 31.0   16.0

In [21]:
violent_crime_total = crime_stats_df.groupby(['City', 'Year'])['Violent crime'].sum()
#per_capita_violent_crime = violent_crime_total
violent_crime_total

City  Year
0     2010      0.0
      2011      0.0
      2012      0.0
      2013      0.0
      2014      0.0
              ...
Zion  2015    149.0
      2016    169.0
      2017    121.0
      2018    148.0
      2019    130.0
Name: Violent crime, Length: 4933, dtype: float64

In [47]:
chicago_df = crime_stats_df.loc[crime_stats_df['City'] == 'Chicago']
#chicago_df
naperville_df = crime_stats_df.loc[crime_stats_df['City'] == 'Naperville']
#naperville_df
springfield_df = crime_stats_df.loc[crime_stats_df['City'] == 'Springfield']
#springfield_df
park_ridge_df = crime_stats_df.loc[crime_stats_df['City'] == 'Park Ridge']
#park_ridge_df
bolingbrook_df = crime_stats_df.loc[crime_stats_df['City'] == 'Bolingbrook']
#bolingbrook_df