In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [31]:
# Store filepath in a variable and the data into a Pandas DataFrame
file = Path("../Project_1/Resources/FBI_national_new.xls")
FBI_national= pd.read_excel(file)

FBI_national.to_csv ('FBI_natioanl.csv')

# show the dataframe 
FBI_national

,Classification,2015,2016,2017,2018,2019,Unnamed: 6,Unnamed: 7
0,Murder,15883.0,17413.0,17294.0,16374.0,16425.0,NaN,
1,Rape,126134.0,132414.0,135666.0,143765.0,139815.0,NaN,NaN
2,Robbery,328109.0,332797.0,320596.0,281278.0,267988.0,NaN,NaN
3,Burglary,1587564.0,1516405.0,1397045.0,1235013.0,1117696.0,NaN,NaN
4,Larceny-theft,5723488.0,5644835.0,5513000.0,5232167.0,5086096.0,NaN,NaN
5,Motor vehicle theft,713063.0,767290.0,772943.0,751904.0,721885.0,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#cleanup the data by rows 

rows_to_drop_df = FBI_national.drop(labels=range(6,11), axis=0)

rows_to_drop_df

,Classification,2015,2016,2017,2018,2019,Unnamed: 6,Unnamed: 7
0,Murder,15883.0,17413.0,17294.0,16374.0,16425.0,NaN,
1,Rape,126134.0,132414.0,135666.0,143765.0,139815.0,NaN,NaN
2,Robbery,328109.0,332797.0,320596.0,281278.0,267988.0,NaN,NaN
3,Burglary,1587564.0,1516405.0,1397045.0,1235013.0,1117696.0,NaN,NaN
4,Larceny-theft,5723488.0,5644835.0,5513000.0,5232167.0,5086096.0,NaN,NaN
5,Motor vehicle theft,713063.0,767290.0,772943.0,751904.0,721885.0,NaN,NaN

In [33]:
#cleanup the data by columns 
columns_to_drop_df = rows_to_drop_df.drop(columns=["Unnamed: 6", "Unnamed: 7"])

columns_to_drop_df

        Classification       2015       2016       2017       2018       2019
0               Murder    15883.0    17413.0    17294.0    16374.0    16425.0
1                 Rape   126134.0   132414.0   135666.0   143765.0   139815.0
2              Robbery   328109.0   332797.0   320596.0   281278.0   267988.0
3             Burglary  1587564.0  1516405.0  1397045.0  1235013.0  1117696.0
4       Larceny-theft   5723488.0  5644835.0  5513000.0  5232167.0  5086096.0
5  Motor vehicle theft   713063.0   767290.0   772943.0   751904.0   721885.0

In [34]:
clean_data_national = columns_to_drop_df
clean_data_national

        Classification       2015       2016       2017       2018       2019
0               Murder    15883.0    17413.0    17294.0    16374.0    16425.0
1                 Rape   126134.0   132414.0   135666.0   143765.0   139815.0
2              Robbery   328109.0   332797.0   320596.0   281278.0   267988.0
3             Burglary  1587564.0  1516405.0  1397045.0  1235013.0  1117696.0
4       Larceny-theft   5723488.0  5644835.0  5513000.0  5232167.0  5086096.0
5  Motor vehicle theft   713063.0   767290.0   772943.0   751904.0   721885.0

In [35]:
# Store filepath in a variable and the data into a Pandas DataFrame
file_2 = Path("../Project_1/Resources/FBI_national_change_new.xls")
FBI_national_change = pd.read_excel(file_2)

FBI_national_change.to_csv ('FBI_national_change.csv')

# show the dataframe 
FBI_national_change

,Years,Unnamed: 1,Violent \ncrime1,Violent \ncrime \nrate,Murder and \nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Rape\n(revised \ndefinition)2,Rape\n(revised \ndefinition) \nrate2,Rape\n(legacy \ndefinition)3,Rape\n(legacy \ndefinition) \nrate3,...,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate,Unnamed: 22,Unnamed: 23,Unnamed: 24,
0,2019/2018,NaN,-0.5,-1.0,0.3,-0.2,-2.7,-3.2,-3.1,-3.6,...,-9.5,-9.9,-2.8,-3.3,-4.0,-4.4,NaN,NaN,NaN,NaN
1,2019/2015,NaN,0.4,-1.9,3.4,1.1,10.8,8.4,7.6,5.2,...,-29.6,-31.2,-11.1,-13.1,1.2,-1.0,NaN,NaN,NaN,NaN
2,2019/2010,NaN,-3.8,-9.3,11.6,5.1,NaN,NaN,14.7,8.1,...,-48.5,-51.4,-18.0,-22.7,-2.4,-8.0,NaN,NaN,NaN,NaN

In [36]:
# cleanup data by rows
rows_to_drop_df = FBI_national_change.drop([0])

rows_to_drop_df

,Years,Unnamed: 1,Violent \ncrime1,Violent \ncrime \nrate,Murder and \nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Rape\n(revised \ndefinition)2,Rape\n(revised \ndefinition) \nrate2,Rape\n(legacy \ndefinition)3,Rape\n(legacy \ndefinition) \nrate3,...,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate,Unnamed: 22,Unnamed: 23,Unnamed: 24,
1,2019/2015,NaN,0.4,-1.9,3.4,1.1,10.8,8.4,7.6,5.2,...,-29.6,-31.2,-11.1,-13.1,1.2,-1.0,NaN,NaN,NaN,NaN
2,2019/2010,NaN,-3.8,-9.3,11.6,5.1,NaN,NaN,14.7,8.1,...,-48.5,-51.4,-18.0,-22.7,-2.4,-8.0,NaN,NaN,NaN,NaN

In [86]:
# import the state files
file_1 = Path("../Project_1/Resources/FBI_2010_illinois_amended.csv")
file_2 = Path("../Project_1/Resources/FBI_2011_illinois_amended.csv")
file_3 = Path("../Project_1/Resources/FBI_2012_illinois_amended.csv")
file_4 = Path("../Project_1/Resources/FBI_2013_illinois_amended.csv")
file_5 = Path("../Project_1/Resources/FBI_2014_illinois_amended.csv")
file_6 = Path("../Project_1/Resources/FBI_2015_illinois_amended.csv")
file_7 = Path("../Project_1/Resources/FBI_2016_illinois_amended.csv")
file_8 = Path("../Project_1/Resources/FBI_2017_illinois_amended.csv")
file_9 = Path("../Project_1/Resources/FBI_2018_illinois_amended.csv")
file_10 = Path("../Project_1/Resources/FBI_2019_illinois_amended.csv")

# Read the CSV files into a DataFrame
data_file_1 = pd.read_csv(file_1)
data_file_2 = pd.read_csv(file_2)
data_file_3 = pd.read_csv(file_3)
data_file_4 = pd.read_csv(file_4)
data_file_5 = pd.read_csv(file_5)
data_file_6 = pd.read_csv(file_6)
data_file_7 = pd.read_csv(file_7)
data_file_8 = pd.read_csv(file_8)
data_file_9 = pd.read_csv(file_9)
data_file_10 = pd.read_csv(file_10)

# Remove noisy columns
columns =['City','Population','Violent crime',	'Murder and Non-Negligent Manslaughter', 'Rape', 'Robbery',	'Aggravated Assault',
         'Property Crime',	'Burglary',	'Larceny-theft', 'Motor vehicle theft',	'Arson']
data_file_1 =data_file_1[columns]   
data_file_2 =data_file_2[columns] 
data_file_3 =data_file_3[columns] 
data_file_4 =data_file_4[columns]       
data_file_5 =data_file_5[columns] 
data_file_6 =data_file_6[columns] 
data_file_7 =data_file_7[columns] 
data_file_8 =data_file_8[columns] 
data_file_9 =data_file_9[columns] 
data_file_10 =data_file_10[columns] 

# Print the resulting DataFrame
data_file_10.head()

,City,Population,Violent crime,Murder and Non-Negligent Manslaughter,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Addison,"36,676",73,0,25,23,25,423,52,344,27,0.0
1,Aledo,"3,448",0,0,0,0,0,39,7,30,2,0.0
2,Alexis,785,1,0,0,0,1,12,1,10,1,0.0
3,Algonquin,"31,016",23,0,6,3,14,303,16,285,2,1.0
4,Alsip2,"18,830",53,0,8,13,32,NaN,61,378,NaN,0.0

In [123]:
#Identify specific citys in different files (years)

All_Cities={}

city_list = ["Naperville","Chicago", "Springfield","Park Ridge","Bolingbrook"]
for City in city_list:
      
  row_2010  =data_file_1[data_file_1['City']==City]
  row_2010['Year'] ='2010'
  row_2011  =data_file_2[data_file_2['City']==City]
  row_2011['Year'] ='2011'
  row_2012  =data_file_3[data_file_3['City']==City]
  row_2012['Year'] ='2012'
  row_2013  =data_file_4[data_file_4['City']==City]
  row_2013['Year'] ='2013'
  row_2014  =data_file_5[data_file_5['City']==City]
  row_2014['Year'] ='2014'
  row_2015  =data_file_6[data_file_6['City']==City]
  row_2015['Year'] ='2015'
  row_2016  =data_file_7[data_file_7['City']==City]
  row_2016['Year'] ='2016'    
  row_2017  =data_file_8[data_file_8['City']==City]
  row_2017['Year'] ='2017'
  row_2018  =data_file_9[data_file_9['City']==City]
  row_2018['Year'] ='2018'
  row_2019  =data_file_10[data_file_10['City']==City]
  row_2019['Year'] ='2019'

  rows = [row_2010, row_2011, row_2012,row_2013, row_2014,row_2015, row_2016, row_2017,row_2018, row_2019]

  result = pd.concat(rows)

  All_Cities[City] = result

/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2011['Year'] ='2011'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2012['Year'] ='2012'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2013['Year'] ='2013'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2014['Year'] ='2014'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2015['Year'] ='2015'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2016['Year'] ='2016'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2017['Year'] ='2017'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2018['Year'] ='2018'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2010['Year'] ='2010'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2011['Year'] ='2011'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2012['Year'] ='2012'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2013['Year'] ='2013'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2014['Year'] ='2014'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2015['Year'] ='2015'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2016['Year'] ='2016'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2017['Year'] ='2017'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2018['Year'] ='2018'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2019['Year'] ='2019'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2010['Year'] ='2010'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2011['Year'] ='2011'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2012['Year'] ='2012'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2013['Year'] ='2013'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2014['Year'] ='2014'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2015['Year'] ='2015'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2016['Year'] ='2016'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2017['Year'] ='2017'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2018['Year'] ='2018'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2019['Year'] ='2019'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2010['Year'] ='2010'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2011['Year'] ='2011'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2012['Year'] ='2012'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2013['Year'] ='2013'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2014['Year'] ='2014'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2016['Year'] ='2016'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2017['Year'] ='2017'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2018['Year'] ='2018'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2019['Year'] ='2019'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2011['Year'] ='2011'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2012['Year'] ='2012'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2013['Year'] ='2013'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2014['Year'] ='2014'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2015['Year'] ='2015'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2016['Year'] ='2016'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2017['Year'] ='2017'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2018['Year'] ='2018'
/var/folders/rc/1q9yysq50wbgw9_t_whj8rcr0000gn/T/ipykernel_87146/2944968137.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2019['Year'] ='2019'

In [133]:
All_Cities

{'Naperville':            City Population Violent crime  \
 216  Naperville    142,280           112
 320  Naperville    142,840           119
 315  Naperville    144,221           105
 300  Naperville    145,510           113
 325  Naperville    147,101           128
 333  Naperville    148,070            92
 335  Naperville    147,934           136
 324  Naperville    148,457           102

      Murder and Non-Negligent Manslaughter Rape Robbery Aggravated Assault  \
 216                                    2.0  4.0      24                 82
 320                                    3.0  7.0      24                 85
 315                                    0.0  7.0      21                 77
 300                                    1.0    8      20                 84
 325                                    0.0   14      27                 87
 333                                    0.0   15      34                 43
 335                                    1.0   22      33                 80
 324                                    0.0   29      21                 52

     Property Crime Burglary Larceny-theft Motor vehicle theft  Arson  Year
 216          2,110      300         1,768                  42    8.0  2011
 320          2,044      255         1,748                  41   16.0  2012
 315          1,869      225         1,610                  34    2.0  2013
 300          1,634      176         1,421                  37    3.0  2014
 325          1,652      161         1,458                  33    3.0  2015
 333          1,587      141         1,401                  45    4.0  2016
 335          1,716      129         1,540                  47    8.0  2017
 324            NaN      163           NaN                  39    0.0  2018  ,
 'Chicago':        City Population Violent crime  Murder and Non-Negligent Manslaughter  \
 68  Chicago  2,833,649             0                                  432.0
 57  Chicago  2,703,713             0                                  431.0
 77  Chicago  2,708,382             0                                  500.0
 77  Chicago  2,720,554             0                                  414.0
 73  Chicago  2,724,121        24,089                                  411.0
 78  Chicago  2,728,695        24,663                                  478.0
 83  Chicago  2,725,153        30,126                                  765.0
 83  Chicago  2,706,171        29,737                                  653.0
 84  Chicago  2,719,151        27,357                                  563.0
 85  Chicago  2,707,064        25,532                                  492.0

      Rape Robbery Aggravated Assault Property Crime Burglary Larceny-theft  \
 68    0.0  14,213             13,757        120,045   26,203        74,764
 57    0.0  13,975             12,408        118,239   26,420        72,373
 77    0.0  13,476             12,272        112,466   22,748        72,717
 77    0.0  11,815                NaN         95,908   17,775        65,497
 73  1,343   9,804             12,531         85,161   14,537        60,601
 78  1,432   9,649             13,104         80,395   13,151        57,022
 83  1,589  11,957             15,815         86,960   14,258        61,229
 83  1,762  11,887             15,435         88,324   12,912        63,834
 84  1,798   9,684             15,312         86,513   11,686        64,695
 85  1,761   7,983             15,296         80,742    9,578        62,083

    Motor vehicle theft  Arson  Year
 68              19,078    NaN  2010
 57              19,446    NaN  2011
 77              17,001    NaN  2012
 77              12,636  403.0  2013
 73              10,023  460.0  2014
 78              10,222  534.0  2015
 83              11,473  590.0  2016
 83              11,578  514.0  2017
 84              10,132  438.0  2018
 85               9,081  416.0  2019  ,
 'Springfield':             City Population Violent crime  \
 368  Springfield    117,383         1,452
 307  Springfield    116,600         1,278
 437  Springfield    117,131         1,138
 437  Springfield    117,351         1,191
 416  Springfield    117,134         1,248
 441  Springfield    116,875         1,251
 459  Springfield    116,563         1,301
 466  Springfield    115,568         1,219
 450  Springfield    114,623           955
 467  Springfield    114,393           889

      Murder and Non-Negligent Manslaughter   Rape Robbery Aggravated Assault  \
 368                                    7.0  104.0     338              1,003
 307                                    8.0  103.0     258                909
 437                                   10.0   76.0     260                792
 437                                    4.0   71.0     287                829
 416                                    4.0     97     258                889
 441                                   11.0    103     257                880
 459                                    6.0     99     249                947
 466                                   11.0     93     251                864
 450                                    9.0     93     216                637
 467                                    9.0    108     208                564

     Property Crime Burglary Larceny-theft Motor vehicle theft  Arson  Year
 368          7,567    2,167         5,160                 240   57.0  2010
 307          7,176    1,883         5,076                 217   69.0  2011
 437          6,945    1,670         5,033                 242   41.0  2012
 437          5,905    1,300         4,439                 166   44.0  2013
 416          5,535    1,110         4,300                 125   55.0  2014
 441          5,321    1,131         3,997                 193   57.0  2015
 459          5,158    1,250         3,681                 227   45.0  2016
 466          5,496    1,210         3,973                 313   50.0  2017
 450          5,487    1,195         4,044                 248   40.0  2018
 467          5,080    1,039         3,776                 265   24.0  2019  ,
 'Park Ridge':            City Population Violent crime  \
 303  Park Ridge     36,324            15
 250  Park Ridge     37,593            23
 361  Park Ridge     37,660            22
 359  Park Ridge     37,788            15
 340  Park Ridge     37,919            12
 377  Park Ridge     37,805            12
 379  Park Ridge     37,492            15
 367  Park Ridge     37,490            21
 380  Park Ridge     37,206            11

      Murder and Non-Negligent Manslaughter Rape Robbery Aggravated Assault  \
 303                                    0.0  1.0       4                 10
 250                                    0.0  2.0       7                 14
 361                                    1.0  0.0      12                  9
 359                                    0.0  1.0       6                  8
 340                                    0.0    1       4                  7
 377                                    0.0    1       8                  3
 379                                    0.0    1       9                  5
 367                                    0.0    2       4                 15
 380                                    1.0    2       4                  4

     Property Crime Burglary Larceny-theft Motor vehicle theft  Arson  Year
 303            571      134           424                  13    6.0  2010
 250            480      138           336                   6    3.0  2011
 361            459      118           328                  13    7.0  2012
 359            469       99           360                  10    3.0  2013
 340            451       79           365                   7    1.0  2014
 377            375       67           294                  14    3.0  2016
 379            278       57           212                   9    3.0  2017
 367            341       51           273                  17    4.0  2018
 380            295       36           245                  14    0.0  2019  ,
 'Bolingbrook':            City Population Violent crime  \
 28  Bolingbrook     73,587           161
 40  Bolingbrook     73,836           180
 41  Bolingbrook     74,224           174
 36  Bolingbrook     74,049           156
 38  Bolingbrook     74,356           136
 41  Bolingbrook     74,471           158
 44  Bolingbrook     74,692           140
 44  Bolingbrook     75,451           112
 45  Bolingbrook     75,394           123

     Murder and Non-Negligent Manslaughter  Rape Robbery Aggravated Assault  \
 28                                    1.0  25.0      49                 86
 40                                    1.0  16.0      50                113
 41                                    1.0  17.0      38                118
 36                                    0.0    17      46                 93
 38                                    2.0    24      22                 88
 41                                    2.0    23      18                115
 44                                    1.0    34      27                 78
 44                                    1.0    23      17                 71
 45                                    1.0    28      19                 75

    Property Crime Burglary Larceny-theft Motor vehicle theft  Arson  Year
 28          1,221      261           915                  45    6.0  2011
 40          1,139      162           940                  37   13.0  2012
 41          1,131      118           952                  61    7.0  2013
 36            986       95           854                  37   10.0  2014
 38            991       79           866                  46    1.0  2015
 41            944      111           782                  51    3.0  2016
 44            735       69           596                  70    4.0  2017
 44            592       60           477                  55    3.0  2018
 45            650       65           501                  84    0.0  2019  }

In [132]:
# get the new 5 cities dataframes 
FBI_df_Naperville =All_Cities['Naperville']
FBI_df_Chicago = All_Cities['Chicago']
FBI_df_Springfield = All_Cities['Springfield']
FBI_df_Park_Ridge = All_Cities['Park Ridge']
FBI_df_Bolingbrook = All_Cities['Bolingbrook']

In [135]:
#convert 5 cities dataframes to csv files 
FBI_df_Naperville.to_csv('FBI_df_Naperville.csv', index=False)
FBI_df_Chicago.to_csv('FBI_df_Chicago.csv', index=False)
FBI_df_Springfield.to_csv('FBI_df_Springfield.csv', index=False)
FBI_df_Park_Ridge.to_csv('FBI_df_Park_Ridge.csv', index=False)
FBI_df_Bolingbrook.to_csv('FBI_df_Bolingbrook.csv', index=False)

# Specify the path to save the CSV file
file_path = ("../Project_1/Resources/FBI_df_Naperville.csv,FBI_df_Chicago.csv,FBI_df_Springfield.csv,FBI_df_Park_Ridge.csv,FBI_df_Bolingbrook.csv")

# Save the DataFrame to the specified path
FBI_df_Naperville.to_csv('FBI_df_Naperville.csv', index=False)
FBI_df_Chicago.to_csv('FBI_df_Chicago.csv', index=False)
FBI_df_Springfield.to_csv('FBI_df_Springfield.csv', index=False)
FBI_df_Park_Ridge.to_csv('FBI_df_Park_Ridge.csv', index=False)
FBI_df_Bolingbrook.to_csv('FBI_df_Bolingbrook.csv', index=False)

FBI_df_Naperville

,City,Population,Violent crime,Murder and Non-Negligent Manslaughter,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,Year
216,Naperville,"142,280",112,2.0,4.0,24,82,"2,110",300,"1,768",42,8.0,2011
320,Naperville,"142,840",119,3.0,7.0,24,85,"2,044",255,"1,748",41,16.0,2012
315,Naperville,"144,221",105,0.0,7.0,21,77,"1,869",225,"1,610",34,2.0,2013
300,Naperville,"145,510",113,1.0,8,20,84,"1,634",176,"1,421",37,3.0,2014
325,Naperville,"147,101",128,0.0,14,27,87,"1,652",161,"1,458",33,3.0,2015
333,Naperville,"148,070",92,0.0,15,34,43,"1,587",141,"1,401",45,4.0,2016
335,Naperville,"147,934",136,1.0,22,33,80,"1,716",129,"1,540",47,8.0,2017
324,Naperville,"148,457",102,0.0,29,21,52,NaN,163,NaN,39,0.0,2018

In [ ]:
# combine the 5 cities dataframes into one df by "years"